body {
    width: 750px;
    /*font-family: adobeinvisfont;*/
}
.header {
    display: flex;
    height: 236px;
    background-color: rgba(45, 112, 83, 1);
    align-items: center;
}

#pic_header {
    height: 142px;
    width: 142px;
    border-radius: 50%;
    margin: 38px;
}

.header_title {
    text-transform: capitalize;
    width: 135px;
    /*font-family: adobeinvisfont;*/
    color: white;
    font-size: 30px;
    margin-left: 57px;
}

.header_menu {
    margin: auto 44px auto auto;
    width: 85px;
}

.rect {
    padding: 7.5px;
}

.section1 {
    display: flex;
    width: 750px;
    height: 468px;
}

.pic_cabinet {
    width: 100%;
}

.button1 {
    text-transform: uppercase;
    color: white;
    background-color: rgba(203, 146, 35, 1);
    border: 0px;
    position: absolute;
    margin-left: 196px;
    margin-top: 368px;
    width: 341px;
    height: 74px;
    text-align: center;
    font-size: 24px;
}

ul {
    list-style-type: "- ";
    padding: 0px;
    margin-left: 10px;
}

#portrait {
    border-radius: 50%;
    height: 255px;
    width: 255px;
    object-fit: cover;
    margin-right: 65px;
}

.section2 {
    display: flex;
    margin-top: 40px;
}

.button2 {
    text-transform: uppercase;
    color: white;
    background-color: rgba(203, 146, 35, 1);
    border: 0px;
    position: static;
    margin-left: 156px;
    margin-top: 40px;
    width: 341px;
    height: 74px;
    text-align: center;
    font-size: 24px;
}

section {
    margin-bottom: 50px;
}

#fullname {
    font-size: 36px;
    text-transform: capitalize;
}

#specialist {
    font-size: 24px;
}

#section2 {
    margin-left: 40px;
}

.text1 {
    font-size: 24px;
    margin-top: 40px;
}

.reasons {
    margin-top: 40px;
}

#reasons_text {
    font-size: 36px;
}

#reasons_list {
    font-size: 24px;
}

.footer {
    background-color: rgba(136, 136, 136, 1);
    color: white;
    text-decoration: none;
    height: 154px;
    display: flex;
    /*font-family: adobeinvisfont;*/
    font-size: 18px;
}

.ellips_footer {
    width: 97px;
    height: 97px;
    margin-left: 45px;
    margin-top: 29px;
}

a {
    /*font-family: adobeinvisfont;*/
    color: white;
}

.cellphone {
    margin-top: 56px;
    margin-left: 429px;
}

.mail {
    margin-top: 98px;
    margin-left: 566px;
    position: absolute;
}

.address {
    margin-top: 102px;
    margin-left: 325px;
    position: absolute;
}